body {
    font-family: 'LatoRegular';
    background: url('../../images/background.png');
    background-size: 100%;
    background-repeat: no-repeat;

}

html, body{
    overflow-x: hidden;
    width: 100%;
}

header,main,footer{
    margin: 0 auto;
}

header, .container, footer{
    width: 80%;
}