.header{
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 0;

    background-color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .logo {
    margin-left: 50px;
  }
  
  .logo img {
    max-height: 50px;
  }
  
  .nav {
    display: flex;
    margin-right: 30px;
  }
  
  .nav a {
    font-family: "LatoSemiBold";
    margin: 0 12px;
    font-weight: 600;
    text-decoration: none;
    color: #1a212f;
    font-size: 16px;
  }
  
  .nav a,
  .nav_footer a {
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav a:hover,
  .nav_footer a:hover {
    color: #ff7236;
    transform: scale(1.05);
  }
  
  .nav-toggle {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav-toggle {
      display: block;
    }
  }